.timeline{
  transform: rotate(90deg);
}
.timelineContentContainer{
  text-align: left;
}

.timelineContent{
  display: inline-block;
  transform: rotate(-90deg);
  text-align: center;
  min-width: 50;
  min-width: fit-content;
}
.timelineIcon {
  transform: rotate(-90deg);
}
